html,
body {
    width: 100vw;
    height: 100vh;
}

div#root {
    width: 100%;
    height: 100%;
}

body {
    background-color: #434444;
    color: #999999;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100%
}

.progress {
    border-radius: 30px;
    padding: 0.3rem 1.5rem;
    background: #434444;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.5);
}

.progress input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    background: transparent;
    margin: 10px 0;
    width: 100%;
}

.progress input[type=range]:focus {
    outline: none;
}

.progress input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: linear-gradient(to right, #65F6FF, #B04FDE);
    border-radius: 1px;
    border: 0px solid #000000;
}

.progress input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid #aaaaaa;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.progress input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #65F6FF, #B04FDE);
}

.progress input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: linear-gradient(to right, #65F6FF, #B04FDE);
    border-radius: 1px;
    border: 0px solid #000000;
}

.progress input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #afafaf;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
}

.progress input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.progress input[type=range]::-ms-fill-lower {
    background: linear-gradient(to right, #65F6FF, #B04FDE);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.progress input[type=range]::-ms-fill-upper {
    background: linear-gradient(to right, #65F6FF, #B04FDE);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.progress input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
}

.progress input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to right, #65F6FF, #B04FDE);
}

.progress input[type=range]:focus::-ms-fill-upper {
    background: linear-gradient(to right, #65F6FF, #b04fde);
}

#player {
    width: 50%;
}

#queue {
    background-color: #434444;
    height: border-box;

    border-left: 1px solid #C4C4C4;
    width: 50%;
    display: grid;
    grid-template-rows: 7.5fr 0.01fr 2.5fr;
}
hr {
    width: 95%;
    border: 0.2px solid #C4C4C4;
}
#list {
    height: 100%;
}

#controls {
    width: 100%;
    text-align: right;
    width: 97%;
    height: 100%;
    margin: auto;
}

#player .video-container {
    width: fit-content;
    margin: 0;
}

#controls .actions {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    height: 3rem;
    display: flex;
    justify-content: center;
}

#controls .actions .button-container {
    width: 60px;
    height: 60px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 20px;

    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(123, 122, 122, 0.25);
}

#controls .actions .button-container:hover {
    
    box-shadow: -4px -4px 10px rgba(162, 151, 167, 0.25), 4px 4px 8px rgba(25, 18, 27, 0.25);
}

#controls .button-container svg {
    font-size: 2rem;
    color: #28D8FF;
}

.input-group input {
    width: 50%;
    height: 2rem;

    border: 1px #afafaf solid;
    border-radius: 10px;
}